body {
	background-color: peachpuff;
}


.jelly-background {
	border-radius: 25px;
	border: solid 40px #AF4ECF;
	font-size: 22px;
}

.peanut-background {

}
.peanut-color{
	color: #D48A55;

}
.jelly-color{
	color: #AF4ECF;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
    width: 300px;
    margin: auto;
    text-align: center;
}

.content-container {
	margin: auto 0;
}

p {
    text-align: center;
    margin: auto;
    width: 400px;
}

.intro-row {
	float: left;
}

.intro-paragraph {
	margin: auto;
	padding: 40px;
}

.instruction-content {
	margin: auto;
	text-align: center;
}

.img-container {
	text-align: center;
}

.instruction-p {
margin-top: 70px;
}

.instruction-p:first-child {
margin-top: 30px;
}

.instruction-row {
margin-top: 20px;
float: left;
}

.instruction-image {
	width: 400px;
	margin-left: 115px;
	height: 300px;
}

img#step-1 {
    margin-top: 30px;
}