.navbar-default {
  background-color: rgba(0, 0, 0, 0.7);;
}

.blue {
  color: #2098d1;
}

.navbar-default .navbar-nav>li>a  {
  color: #2098d1; 
};

.navbar-default .navbar-nav>li>a:hover {
  color: orange;
}

.navbar-default .navbar-brand {
  color: #2098d1;
}

.brand{
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  color: #2098d1;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.7);

}

p{
  color: #2098d1;
}

.jumbotron h1{
  color: #2098d1;
}

a {
  color: orange;
}